/* RESET DELLA PAGINA: il selettore universale(*) applica a tutti gli
elementi della pagina, il margin 0 e il padding toglie tutti i valori
di default e la regola box sizing Dice al browser: "Quando imposti width o height,
includi anche padding e bordi nel calcolo."*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    padding: 10px 10px;
    /* padding: 10px 10px; 10px sopra e sotto, 10px a destra e sinistra */
    font-family: 'Roboto', sans-serif;
}

header img {
    vertical-align: middle;
    /* allinea l'immagine verticalmente al centro: 
    questa proprietà funziona solo su elementi inline o inline-block
    in pratica, non eredita il comportamento su tutto il contenuto del blocco
    come invece fanno font-family o color*/
}

header h1 {
    display: inline-block;
    /* rende l'elemento h1 un elemento inline-block */
    /* in modo che possa essere allineato con l'immagine */
    vertical-align: middle;
    /* allinea il testo verticalmente al centro rispetto all'immagine */
    margin-left: 10px;
    /* spazio a sinistra rispetto all'immagine scritto meglio*/
    /*altro modo per scrivere il margin-left:  
    margin: 0 0 0 10px;  spazio a sinistra rispetto all'immagine: margin: TOP  RIGHT  BOTTOM  LEFT */
    color: #333;
    font-size: 40px;
}